/* src/global.css */
:root {
    --teal-green: #175873;
    --teal: #2B7C85;
    --seafoam-green: #87ACA3;
    --royal-blue: #0C1446;
    --button-color: var(--teal);
    /* Example: Assigning button color */
    --navbar-background: rgba(43, 124, 133, 0.5);
    /* Example: Teal with transparency */
    --link-color: var(--seafoam-green);
    /* Example: Default link color */
    --active-link-color: var(--royal-blue);
    /* Example: Active link color */
    --hover-link-color: var(--teal-green);
    /* Example: Hover link color */
}